@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: no-repeat center center fixed;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styling for the calculator container */
.calculator-container {
    display: flex;
    flex-direction: column;

    background-color: rgba(155, 168, 159, 0.7); 
    width: 90%; 
    max-width: 400px;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

/* Styling for input elements within the calculator form */

.data-for-calculator {
    width: 100%;
    margin-bottom: 1rem;
}

.data-for-calculator input {
    width: calc(100% - 20px); 
    margin: 10px 0;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #7a8388;
    border-radius: 4px; 
    box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
}

.title h1 {
    text-align: center;
    font-size: 2rem; 
    color: #ecae35;
    font-weight: 500;
    margin-bottom: 0.5rem;
}


.button-flex {
    display: flex;
    justify-content: space-around; 
    margin-top: 1rem;
}

/* Styling for buttons */
button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #fabc2b;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

button:hover {
    background-color: #e89a3d; 
}


    .calculator-container {
        max-width: none;
        width: 95%;
        margin: 10px;
    }


.calculate-result {
    text-align: center;
    color: white;
}

.calculate-result .result {
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 20px;
    margin: 10px 5;
    border-radius: 6px;
}

.split-control {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
}

.split-control button {
    position: relative;
}

.split-control input {
    width: 2em; 
    text-align: center; 
}

.split-total-input {
    background-color: whitesmoke; 
    border: 1px solid burlywood; 
    border-radius: 4px; 
    padding: 10px;
    width: 30%; 
    text-align: center; 
    
}

.guests-input {
    background-color: whitesmoke; 
    border: 1px solid burlywood; 
    border-radius: 5px;
    padding: 10px;
    width: 80px; 
    text-align: center;
}


@media (max-width: 400px) {
    .calculate-result .result {
        font-size: 0.9rem;
    }
}

